h2 {
    color: #04388B;
}

.shirt {
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    max-height: 341px;
}

.button {
    margin-top: 5%;
    margin-left: 15px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
}

.site {
    background-color: #FDC400;
    color: #04388B;
    border-color: #FDC400;
}

.buy {
    background-color: #04388B;
    border-color: #04388B;;
}

a {
    color: #FDC400;
}