<h2 mat-dialog-title>Camisa de 100 anos do Cariri!</h2>
<div mat-dialog-content align=center>
    <div class="row col-12">
        <div class="col-6">
            <img class="shirt" src="assets/shirt.jpeg" />
        </div>
        <div class="col-6">
            <img class="shirt" src="assets/shirtTwo.jpeg" />
        </div>
    </div>
</div>
<div mat-dialog-actions align=right>
    <button class="button site" (click)="site()">Ir para o site</button>
    <button class="button buy"><a href="https://forms.gle/YZXzeDWtVPVrtvd2A">Comprar</a></button>
</div>
