<h2 mat-dialog-title>Camisa de 2022 do Cariri!</h2>
<div mat-dialog-content align=center>
    <div class="col-12" align="center">
        <img class="shirt" src="assets/shirt2022.jpeg" alt="imagem da camisa do Cariri para 2022"/>
    </div>
</div>
<div mat-dialog-actions align=right>
    <button class="button site" (click)="site()">Ir para o site</button>
    <button class="button buy"><a href="https://docs.google.com/forms/d/e/1FAIpQLScZAZ-Clen_xNY4-llcjHg85__W9II3S0PtpCEFbWsl20a0Aw/viewform?usp=sf_link">Comprar</a></button>
</div>
