h2 {
  color: #04388b;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.shirt {
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  max-height: 50vh;
}

.button {
  margin-top: 5%;
  margin-left: 15px;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}

.site {
  background-color: #fdc400;
  color: #04388b;
  border-color: #fdc400;
}

.buy {
  background-color: #04388b;
  border-color: #04388b;
}

a {
  color: #fdc400;
}
