/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'phalanx', Arial, Helvetica, sans-serif !important;
}
  
@font-face {
    font-family: 'phalanx';
    src: url('assets/phalanx.otf') format('opentype');
}