<!-- Desfile -->
<img class="parade" src="assets/parade.jpg" />
<div class="container-fluid">

    <!-- Introdução -->
    <div id="intro" class="row backgroundBlue">
        <div class="col-xl-6 col-12" align=center>
            <div class="col-xl-8 title">
                <img class="estandarte" src="assets/estandarte.jpg" />
                <h1>TCM Cariri</h1>
                <h2>Olindense</h2>
            </div>
        </div>
        <div class="col-xl-6 col-12" align=center>
            <div class="col-xl-8 col-8 title">
                <img class="logo" src="assets/logo.png" />
                <h3>Siga o Cariri</h3>
                <div class="row">
                    <div class="col-xl-12 social-midia">
                        <a href="https://www.instagram.com/caririolindense/"><img class="social" src="assets/instagram.png" /></a>
                        <a href="https://www.facebook.com/Caririolindense/"><img class="social" src="assets/facebook.png" /></a>
                        <a href="https://www.youtube.com/channel/UCMFtrWzPWKgd-2Zy4AWvnMA"><img class="social" src="assets/youtube.png" /></a>
                        <a href="https://twitter.com/caririolindense"><img class="social" src="assets/twitter.png" /></a>
                        <a href="https://open.spotify.com/user/qx5q70piutmc61kye4cer0x9w?si=DvqvDowVQhGzJCHvWprOwA"><img class="social" src="assets/spotify.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contato -->
    <div id="contact" class="row">
        <div class="offset-1 col-xl-3 col-11 contact-column">
            <h3>Fale Conosco</h3>
            <a href="mailto:caririolindense1921@gmail.com">caririolindense1921@gmail.com</a>
        </div>
        <div class="offset-1 col-xl-3 col-11 guadalupe contact-column">
            <h3>Conheça Guadalupe</h3>
            <a href="https://www.instagram.com/bar.do.ro/?igshid=153fw3uqra8ic">Bar do Ró</a><br>
            <a href="https://www.instagram.com/cocodeumbigada/?igshid=u0x01m50qof7">Coco De Umbigada</a><br>
            <a href="https://www.instagram.com/alafineusou/?igshid=1ruy4vizj0xr0">AFOXÉ ALAFIN OYÓ</a><br>
            <a href="https://www.instagram.com/t.c.m.johntravolta/?igshid=1jeoq55r0jobe">T.C.M JOHN TRAVOLTA</a><br>
        </div>
        <div class="col-xl-3 offset-sm-0 col-10 offset-1 contact-column">
            <h3>Sede do Cariri</h3>
            <img class="head" src="assets/head.png" />
            <a class="guadalupe" href="https://www.google.com/maps/place/Cariri+Olindense/@-8.0089265,-34.8571461,15z/data=!4m2!3m1!1s0x0:0x17a27b6b9f5e2c45?sa=X&ved=2ahUKEwitk7Lc49jtAhXqGrkGHZ3JCXAQ_BIwFnoECCMQBQ">
                R. Cândida Luísa, 60<br>Guadalupe, Olinda - PE, 53240-510</a>
        </div>
    </div>
</div>
