.backgroundBlue {
    background-color: #04388B;
    color: #FDC400;
}

.maximumHeight {
    max-height: 1024px;
}

.title {
    margin-top: 10%;
    margin-bottom: 10%;
}

.estandarte {
    max-width: 100%;
    border-radius: 20px;
    border-color: #FDC400;
    border-width: 10px;
    border-style: solid;
    margin-bottom: 10%;
}

.logo {
    max-width: 100%;
    margin-bottom: 10%;
    border-radius: 200px;
}

#follow {
    margin-bottom: 5%;
}

.social-midia {
    text-align: center !important;
}

.social {
    margin-left: 5%;
    margin-right: 5%;
    width: 10%;
    max-height: 38px;
    border-radius: 5px;
}