<!-- Toolbar -->
<p id="toolbar">
    <mat-toolbar>
        <img class="logo" src="assets/logo.png" />
        <span *ngIf="!smallScreen">TCM Cariri Olindense</span>
        <span *ngIf="smallScreen">Cariri Olindense</span>
        <span class="example-spacer"></span>
        <p *ngIf="!smallScreen" class="section" (click)="scroll('frevo')">Frevo</p>
        <a *ngIf="!smallScreen" class="section" href="https://caririolindense.wixsite.com/loja">Loja</a>
        <p *ngIf="!smallScreen" class="section" (click)="scroll('contact')">Contato</p>
        <button *ngIf="smallScreen" mat-icon-button class="example-icon" aria-label="Icon-button with menu icon"
            (click)="menu=!menu">
            <mat-icon *ngIf="!menu">menu</mat-icon>
            <p *ngIf="menu">X</p>
        </button>
    </mat-toolbar>
</p>

<!-- Sidenav -->
<mat-sidenav-container *ngIf="menu" id="sidenav-container">
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav-content (click)="scroll('frevo')">Frevo</mat-sidenav-content>
    <mat-sidenav-content (click)="ecommerce()">Loja</mat-sidenav-content>
    <mat-sidenav-content (click)="scroll('contact')">Contato</mat-sidenav-content>
</mat-sidenav-container>

<!-- Desfile -->
<img class="parade" src="assets/parade.png" />
<div class="container-fluid">

    <!-- Introdução -->
    <div id="intro" class="row backgroundBlue">
        <div class="col-xl-6 col-12" align=center>
            <div class="col-xl-8">
                <img class="image estandarte border-yellow" src="assets/estandarte.jpg" />
            </div>
        </div>
        <div class="col-xl-6 col-12" align=center>
            <div class="col-xl-8 col-8 follow">
                <h3>Siga o Cariri</h3>
                <div class="row">
                    <div class="col-xl-12 social-midia">
                        <a href="https://www.instagram.com/caririolindense/"><img class="social" src="assets/instagram.png" /></a>
                        <a href="https://www.facebook.com/Caririolindense/"><img class="social" src="assets/facebook.png" /></a>
                        <a href="https://www.youtube.com/channel/UCMFtrWzPWKgd-2Zy4AWvnMA"><img class="social" src="assets/youtube.png" /></a>
                        <a href="https://twitter.com/caririolindense"><img class="social" src="assets/twitter.png" /></a>
                        <a href="https://open.spotify.com/user/qx5q70piutmc61kye4cer0x9w?si=DvqvDowVQhGzJCHvWprOwA"><img class="social" src="assets/spotify.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Resumo -->
    <div id="resume" class="row backgroundYellow">
        <div class="col-xl-6 col-12" align=center>
            <div class="col-xl-10">
                <img class="old-cariri" src="assets/oldCariri.jpg" />
            </div>
        </div>
        <div class="col-xl-5 col-10 offset-1" align=left>
            <div class="col-xl-9 resume">
                <p class="second-font">A Troça Carnavalesca Mista Cariri Olindense foi fundada em 15 de 
                    fevereiro de 1921. São fundadores da troça: Augusto Canuto de Santana, Cosmo Botão, 
                    Jacinto Martinho, Isnar Colombo e Eugênio Cravina. Desde então, o Cariri abre o 
                    carnaval de Olinda com seu desfile às 4h da manhã do domingo. O velho do Cariri, o 
                    burrinho e a chave são símbolos dessa agremiação. A chave foi criada pelos fundadores
                    da troça em 1921 e existe até os dias de hoje.</p>
            </div>
        </div>
    </div>

    <!-- Documentário -->
    <div id="documentary" class="section row backgroundBlue">
        <div class="col-xl-6 col-12" align=center>
            <div class="col-xl-10">
                <iframe class="frame yellow-border" width="392" height="220" src="https://www.youtube.com/embed/2c8qs7LhQg0" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-xl-6 offset-xl-0 col-10 offset-1" align=left>
            <div class="col-xl-12 yellow-legend">
                <h1>O Cariri Olindense (2008)</h1>
                <p class="second-font">
                    <b>Menção honrosa, Festival curta Lençóis - MA</b><br>
                    <b>Prêmio do público, Festival Tipóia - Tracunhaém - PE</b><br>
                    Direção:  Antonio Carrilho, Antonio de Olinda e Cristiano Sidoti<br>
                    Produção: fruta pão
                    </p>
            </div>
        </div>
    </div>

    <!-- Prêmios -->
    <div id="awards" class="section row backgroundYellow">
        <div class="col-xl-6 col-12 offset-0" align=center>
            <div class="col-xl-8">
                <img class="image" src="assets/peFlag.png" />
            </div>
        </div>
        <div class="col-xl-6 col-12" align=left>
            <div class="col-xl-10">
                <img class="patrimonioVivo" src="assets/patrimonioVivo.png" />
            </div>
        </div>
    </div>

    <!-- Frevo -->
    <div id="frevo" class="section row frevo-title">
        <div class="col-xl-6 col-12" align=center>
            <div class="col-xl-10">
                <img class="image border-blue" src="assets/frevo.png" />
            </div>
        </div>
        <div class="col-xl-6 col-12" align=center>
            <h1>O Frevo</h1>
        </div>
    </div>

    <!-- Hino -->
    <div id="hyno" class="section row backgroundBlue">
        <div class="col-xl-6 col-12" align=center>
            <div class="col-xl-10">
                <iframe class="frame yellow-border" width="392" height="220" src="https://www.youtube.com/embed/xI0RLuOim_M" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-xl-5 offset-xl-1 col-10 offset-1" align=left>
            <div class="col-xl-12 yellow-legend">
                <h1>Cariri (1959)</h1>
                <p class="second-font"><i>
                    Lá vem Cariri ali<br>
                    Com o saco de pegar criança<br>
                    Pegando menino e moça<br>
                    Pegando tudo que a vista alcança<br><br>
                    Cariri não tenho o medo<br>
                    Cariri tenho receio<br>
                    Pega velho<br>
                    Pega moço<br>
                    Só não pega gente feio</i><br><br>
                    Autor Desconhecido<br>
                    <a href="assets/partituraCariri.pdf">Partitura<img class="score" 
                        src="assets/score.png" /></a>
                    </p>
            </div>
        </div>
    </div>

    <!-- Serra -->
    <div id="serra" class="section row backgroundYellow">
        <div class="col-xl-6 col-12" align=center>
            <div class="col-xl-10">
                <iframe class="frame blue-border" width="392" height="220" src="https://www.youtube.com/embed/59g8JLeBo1U" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-xl-5 offset-xl-1 col-10 offset-1" align=left>
            <div class="col-xl-12 blue-legend">
                <h3>Cariri Descendo a Serra (1989)</h3>
                <p class="second-font">
                    <b>Campeão do 1º Recifrevo</b><br>
                    Autor: Rodolfo Medeiros<br>
                    <a href="assets/partituraCaririDescendoSerra.pdf">Partitura<img class="score" 
                        src="assets/score.png" /></a>
                    </p>
            </div>
        </div>
    </div>

    <!-- Spotify -->
    <div id="spotify" class="section row backgroundBlue">
        <div class="col-xl-6 col-12" align=center>
            <div class="col-xl-8">
                <img class="image yellow-border passo" src="assets/passo.png" />
            </div>
        </div>
        <div class="col-xl-6 col-12 spotify" align=center>
            <div class="col-xl-10">
                <iframe class="yellow-border" src="https://open.spotify.com/embed/playlist/2phfFbH34L4yjxE4qepvhq" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>

    <!-- Produtos -->
    <!-- Camisa -->
    <section id="products" class="row backgroundYellow">
        <div class="col-xl-6 col-12 offset-0" align=center>
            <h2>Camisa de 2022</h2>
            <button class="button buy-blue"><a href="https://docs.google.com/forms/d/e/1FAIpQLScZAZ-Clen_xNY4-llcjHg85__W9II3S0PtpCEFbWsl20a0Aw/viewform?usp=sf_link">Comprar</a></button>
        </div>
        <div class="col-xl-6 col-12" align=center>
            <div class="col-xl-10">
                <img class="image border-blue" src="assets/shirt2022.jpeg" alt="imagem da camisa do Cariri para 2022"/>
            </div>
        </div>
    </section>

    <!-- Contato -->
    <div id="contact" class="row">
        <div class="offset-1 col-xl-3 col-11 contact-column contact-img">
            <h3>Fale Conosco</h3>
            <a href="mailto:cariri@caririolindense.org.br"><img src="assets/email.png" /> cariri@caririolindense.org.br</a><br>
            <a href="https://api.whatsapp.com/send?phone=5581996493024&text=Somos%20do%20Cariri%20Olindense%2C%20em%20que%20podemos%20ajudar%3F%20">
                <img src="assets/whatsapp.png" /> whatsapp</a>
        </div>
        <div class="offset-1 col-xl-3 col-11 second-font contact-column">
            <h3>Conheça Guadalupe</h3>
            <a href="https://www.instagram.com/bar.do.ro/?igshid=153fw3uqra8ic">Bar do Ró</a><br>
            <a href="https://www.instagram.com/cocodeumbigada/?igshid=u0x01m50qof7">Coco De Umbigada</a><br>
            <a href="https://www.instagram.com/alafineusou/?igshid=1ruy4vizj0xr0">AFOXÉ ALAFIN OYÓ</a><br>
            <a href="https://www.instagram.com/t.c.m.johntravolta/?igshid=1jeoq55r0jobe">T.C.M JOHN TRAVOLTA</a><br>
        </div>
        <div class="col-xl-3 offset-sm-0 col-10 offset-1 contact-column">
            <h3>Sede do Cariri</h3>
            <img class="head" src="assets/head.png" />
            <a class="second-font" href="https://www.google.com/maps/place/Cariri+Olindense/@-8.0089265,-34.8571461,15z/data=!4m2!3m1!1s0x0:0x17a27b6b9f5e2c45?sa=X&ved=2ahUKEwitk7Lc49jtAhXqGrkGHZ3JCXAQ_BIwFnoECCMQBQ">
                R. Cândida Luísa, 60<br>Guadalupe, Olinda - PE, 53240-510</a>
        </div>
    </div>

    <div id="signature" class="row backgroundYellow" align=center>
        <div class="col-xl-12"><p>Feito com <img src="assets/love.png" alt="amor"/>
            pelo Coletivo Cariri</p></div>
    </div>
</div>
