.parade {
    width: 100%;
    animation-name: parade;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    display: flex;
}
  
@keyframes parade {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}

.backgroundBlue {
    background-color: #04388B;
    color: #FDC400;
}

.title {
    margin-top: 10%;
    margin-bottom: 8%;
}

.estandarte {
    max-width: 100%;
    border-radius: 20px;
    border-color: #FDC400;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 10%;
}

.logo {
    max-width: 100%;
    margin-bottom: 10%;
    border-radius: 200px;
}

.social-midia {
    text-align: center !important;
}

.social {
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-top: 5%;
}

#contact {
    margin-top: 5%;
    color: #04388B;
}

.guadalupe {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#contact a {
    color:#04388B;
}

.contact-column {
    margin-bottom: 5%;
}

.head {
    max-width: 100%;
    border-radius: 10px;
    border-color:#04388B;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 5%;
}