// Desfile
.parade {
    width: 100%;
    animation-name: parade;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    display: flex;
}
  
@keyframes parade {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}

// Intro
.backgroundBlue {
    background-color: #04388B;
    color: #FDC400;
    display: flex;
    align-items: center;
}

.title {
    margin-top: 10%;
    margin-bottom: 10%;
}

.image {
    max-width: 100%;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

.estandarte {
    margin-bottom: 10%;
}

.border-yellow {
    border-color: #FDC400;
}

.logo {
    max-width: 100%;
    margin-bottom: 10%;
    border-radius: 200px;
}

.social-midia {
    text-align: center !important;
}

.social {
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-top: 5%;
}

// Resumo
.old-cariri {
    width: 100%;
}

.resume {
    background-color: #04388B;
    text-align: justify;
    color: #FDC400;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 10%;
}

.section {
    padding-top: 5%;
    padding-bottom: 5%;
}

.frame {
    max-width: 100%;
}

@media (min-width: 1025px) {
    .yellow-border {
        border: 2px solid #FDC400;
        border-radius: 10px;
    }
}

.yellow-legend {
    color: #FDC400;
}

// Prêmios
.patrimonioVivo {
    max-width: 100%;
    padding-top: 5%;
}

// Frevo
.frevo-title {
    color: #04388B;
    display: flex;
    align-items: center;
}

.backgroundYellow {
    background-color: #FDC400;
    color: #04388B;
    display: flex;
    align-items: center;
}

@media (min-width: 1025px) {
    .blue-border {
        border: 2px solid #04388B;
        border-radius: 10px;
    }
}

.blue-legend {
    color: #04388B;
}

.passo {
    margin-top: 5%;
    margin-bottom: 5%;
}

@media (max-width: 320px) {
    .spotify {
        padding-left: 0px;
    }
}

// Produtos
#products {
    padding-top: 5%;
    padding-bottom: 5%;
}

.button {
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 5%;
}

.buy-blue {
    background-color: #04388B;
    border-color: #04388B;
}

a {
    color: #FDC400;
}

.border-blue {
    border-color: #04388B;
}

.buy-yellow {
    background-color: #FDC400;
    border-color: #FDC400;
}

.buy-yellow a {
    color: #04388B;
}

// Contato
#contact {
    margin-top: 5%;
    color: #04388B;
}

.second-font {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#contact a {
    color:#04388B;
}

.contact-img img {
    width: 15px;
}

.contact-column {
    margin-bottom: 5%;
}

.head {
    max-width: 100%;
    border-radius: 10px;
    border-color:#04388B;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 5%;
}