<img class="parade" src="assets/parade.jpg" />
<div class="container-fluid">
    <div class="row backgroundBlue">
        <div class="col-xl-6 col-12" align=center>
            <div class="col-xl-8 col-8 title">
                <img class="estandarte" src="assets/estandarte.jpg" />
                <h1>TCM Cariri</h1>
                <h2>Olindense</h2>
            </div>
        </div>
        <div class="col-xl-6 col-12" align=center>
            <div class="col-xl-8 col-8 title">
                <img class="logo" src="assets/logo.png" />
                <h3>Siga o Cariri</h3>
                <div class="row">
                    <div class="col-xl-12 social-midia">
                        <a href="https://www.instagram.com/caririolindense/"><img class="social" src="assets/instagram.png" /></a>
                        <a href="https://www.facebook.com/Caririolindense/"><img class="social" src="assets/facebook.png" /></a>
                        <a href="https://www.youtube.com/channel/UCMFtrWzPWKgd-2Zy4AWvnMA"><img class="social" src="assets/youtube.png" /></a>
                        <a href="https://open.spotify.com/user/qx5q70piutmc61kye4cer0x9w?si=DvqvDowVQhGzJCHvWprOwA"><img class="social" src="assets/spotify.jpg" /></a>
                        <a href="https://twitter.com/caririolindense"><img class="social" src="assets/twitter.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
